### PostgreSQL ###
default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: 127.0.0.1
  port: 5432
  username: postgres
  password: 

development:
  <<: *default
  database: 

test:
  <<: *default
  database: 

staging:
  <<: *default
  database: 

production:
  <<: *default
  database: 


### SQLite 3 ###
# default: &default
#   adapter: sqlite3
#   pool: 5
#   timeout: 5000

# development:
#   <<: *default
#   database: db/development.sqlite3

# test:
#   <<: *default
#   database: db/test.sqlite3

# production:
#   <<: *default
#   database: db/production.sqlite3
